
extends twocolumn

block menu
    ul      
      li Софтфоны
        ul 
          li 
            a(href="/equipment/softphones/xlite3") X-Lite 3.0
          li 
            a(href="/equipment/softphones/xlite4") X-Lite 4.5
          li 
            a(href="/equipment/softphones/3cx_win") 3CXPhone для Windows
          li  
            a(href="/equipment/softphones/3cx_ios") 3CXPhone для IOS (iPhone)
          li  
            a(href="/equipment/softphones/ekiga") Ekiga
          li  
            a(href="/equipment/softphones/microsip") MicroSIP
          li  
            a(href="/equipment/softphones/zoiper") Zoiper под iOS(iPhone)
          li  
            a(href="/equipment/softphones/csipsimple") CSIPSimple для Android

      li IP-оборудование
        ul
          li Audiocodes
            ul 
              li 
                a(href="/equipment/ip/audiocodes-mp202") MP-202
              li 
                a(href="/equipment/ip/audiocodes-hd320") HD320
          li Linksys
            ul
              li 
                a(href="/equipment/ip/linksys-spa8000") SPA8000
          li Panasonic
            ul
              li 
                a(href="/equipment/ip/panasonic-tgp500") TGP500
              li 
                a(href="/equipment/ip/panasonic-tde200") SIP-транк в TDE-200
          li AddPac
            ul
              li 
                a(href="/equipment/ip/addpac-adip90") AP-IP90
          li D-link
            ul
              li 
                a(href="/equipment/ip/dlink-dvg5112") DVG5112S
              li 
                a(href="/equipment/ip/dlink-dph150") DPH150SE
              li 
                a(href="/equipment/ip/dlink-dvg5004") DVG5004S
          li SNR
            ul
              li 
                a(href="/equipment/ip/snr-vp7030") VP7030
          li Yealink
            ul
              li 
                a(href="/equipment/ip/yealink-t28p") T28P
          li Grandstream
            ul
              li 
                a(href="/equipment/ip/grandstream-gxp16xx") GXP1620/1610
              li 
                a(href="/equipment/ip/grandstream-gxp14xx") GXP1400
              li 
                a(href="/equipment/ip/grandstream-dp715") DP715
          li Cisco
            ul
              li 
                a(href="/equipment/ip/cisco-spa122") SPA122
              li 
                a(href="/equipment/ip/cisco-spa504") SPA504G
          li IP-PBX Asterisk
            ul
              li 
                a(href="/equipment/ip/asterisk") Настройка IP-PBX Asterisk
          li Yota
            ul
              li 
                a(href="/equipment/ip/yota-gemtekr2") SIP-подключение Gemtek R2
          li 1С-Битрикс24
            ul
              li 
                a(href="/equipment/ip/bitrix24") Подключение 1С-Битрикс24




block content
  != page.html
