
extends twocolumn

block menu
    ul      
      li Софтфоны
        ul 
          li 
            a(href="/equipment/softphones/xlite3") X-Lite 3.0
          li 
            a(href="/equipment/softphones/xlite4") X-Lite 4.5
          li 
            a(href="/equipment/softphones/3cx_win") 3CXPhone для Windows
          li  
            a(href="/equipment/softphones/3cx_ios") 3CXPhone для IOS (iPhone)
          li  
            a(href="/equipment/softphones/ekiga") Ekiga
          li  
            a(href="/equipment/softphones/microsip") MicroSIP
          li  
            a(href="/equipment/softphones/zoiper") Zoiper под iOS(iPhone)
          li  
            a(href="/equipment/softphones/csipsimple") CSIPSimple для Android

      li IP-оборудование
        ul
          li Audiocodes
            ul 
              li MP-202
              li AudioCodes HD320
          li Linksys
            ul
              li Linksys SPA8000
          li Panasonic
            ul
              li Panasonic TGP500
              li SIP-транк в Panasonic TDE-200
          li AddPac
            ul
              li AddPac AP-IP90
          li D-link
            ul
              li D-link DVG5112S
              li D-link DPH150SE
              li D-link DVG5004S
          li SNR
            ul
              li SNR VP7030
          li Yealink
            ul
              li Yealink T28P
          li Grandstream
            ul
              li GXP1620/1610
              li GXP1400
              li DP715
          li Cisco
            ul
              li Cisco SPA122
              li Cisco SPA504G
          li IP-PBX Asterisk
            ul
              li Настройка IP-PBX Asterisk
          li Yota
            ul
              li SIP-подключение Gemtek R2
          li 1С-Битрикс24
            ul
              li Подключение 1С-Битрикс24




block content
  != page.html
