extends layout

style.
  .my_panel > .panel-body {
    padding: 0px;
  }
  .my_panel > .panel-body > img {
    width: 100%;
    height: 100%;
  }
  .my_panel > .panel-footer {
    text-align: center;
  }

block main
  .container
    .row
      .col-md-4.col-sm-4.col-xs-6
        .panel.panel-default.my_panel
          .panel-body
            img.img-responsive.center-block(src='images/1.png', alt='')
          .panel-footer
            h3 Виртуальная АТС
            ul 
              li 
                a(href='/vpbx/') Возможности
              li 
                a(href='/crm/') Интеграция с AmoCRM


      .col-md-4.col-sm-4.col-xs-6
        .panel.panel-default.my_panel
          .panel-body
            img.img-responsive.center-block(src='images/2.png', alt='')
          .panel-footer
            h3 СМС-рассылка
            ul
              li 
                a(href='/sms/') Возможности
              li 
                a(href='/sms/api.html') API


      .col-md-4.col-sm-4.col-xs-6
        .panel.panel-default.my_panel
          .panel-body
            img.img-responsive.center-block(src='images/3.png', alt='')
          .panel-footer
            h3 Звонок с сайта
            ul
              li
                a(href='/webcall/') Об услуге
              li API

      .col-md-4.col-sm-4.col-xs-6
        .panel.panel-default.my_panel
          .panel-body
            img.img-responsive.center-block(src='images/5.jpg', alt='')
          .panel-footer
            h3 Удаленная поддержка
            
            a.btn.btn-primary(href='/support/') Узнать больше
//
      .col-md-4.col-sm-4.col-xs-6
        .panel.panel-default.my_panel
          .panel-body
            img.img-responsive.center-block(src='images/6.jpg', alt='')
          .panel-footer
            h3 Интеграция с AmoCRM
            
            a.btn.btn-primary(href='/crm/') Узнать больше