
extends twocolumn

block menu
  h3 СМС-рассылка
  ul
    li
      a(href="index.html") Об услуге
    li
      a(href="prepare.html") Настройка
    li
      a(href="send_sms.html") Отправка СМС
    li
      a(href="send_bulk_sms.html") Рассылка СМС
    li
      a(href="statuses.html") Статусы
    li
      a(href="api.html") API

block content
  != page.html
