
extends twocolumn

block menu
  div
    h3 Виртуальная АТС

    ul
      li
        a(href="/vpbx/index.html") Об услуге
      li
        a(href="/vpbx/abonent.html") Памятка абоненту
        
      li Конфигуратор
        ul 
          li 
            a(href="/vpbx/sip.html") Абоненты
          li 
            a(href="/vpbx/numbers.html") Телефонные номера
          li Маршрутизация
            ul
              li 
                a(href="/vpbx/ivr.html") Голосовые меню
              li 
                a(href="/vpbx/plan.html") Календари и расписания
              li 
                a(href="/vpbx/queues.html") Очереди

          li Дополнительно
            ul 
              li 
                a(href="/vpbx/additional.html#-moh-") Музыка
              li 
                a(href="/vpbx/additional.html#-pickup-") Группы перехвата
              li 
                a(href="/vpbx/additional.html#-record-") Запись разговоров
              li 
                a(href="/vpbx/additional.html#-efax-") Электронный факс
              li 
                a(href="/vpbx/additional.html#-blacklist-") Черный список
              li 
                a(href="/vpbx/additional.html#-") И еще...
          li 
            a(href="/vpbx/conferences.html") Конференции


           
            
      
      li Отчеты
        ul
          li 
            a(href="/vpbx/reports_pbx.html") Отчеты АТС
          li 
            a(href="/vpbx/reports_callcenter.html") Отчеты колл-центра
          li 
            a(href="/vpbx/reports_send.html") Рассылки

      li Суперфишки
        ul
          li 
            a(href="/vpbx/callerid.html") Маршрутизация по АОН
          li 
            a(href="/vpbx/rating.html") Оценка операторов
          li 
            a(href="/vpbx/callback.html") Обратный звонок
          li 
            a(href="/vpbx/bot.html") Бот Телеграм

      li Интеграция
        ul
          li
            a(href="/vpbx/integration/amocrm") AmoCRM
          li
            a(href="/vpbx/integration/1c.html") 1C

      li API
        ul 
          li 
            a(href="/vpbx/api.html") API & webhooks



block content
  != page.html