
extends twocolumn

block menu
  div(data-spy="affix", data-offset-top="0")
    h3 Виртуальная АТС

    ul
      li
        a(href="/vpbx/index.html") Об услуге
      li Конфигуратор
        ul 
          li 
            a(href="/vpbx/sip.html") Абоненты
          li Телефонные номера
          li Маршрутизация
            ul
              li Расписания
              li Календари
              li Очереди
              li Голосовые меню
              li И еще +100500... : )
          li Суперфишки
            ul
              li Оценка операторов
              li Обратный звонок
      li Отчеты
        ul
          li Отчеты АТС
          li Отчеты колл-центра


block content
  != page.html
